<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ways.app.dao.ExportDataMapper">


	<resultMap type="com.ways.app.domain.AllData" id="AllDate">
		<result column="maxBqsale" property="maxBqsale" />
		<result column="totalSale" property="totalSale" />
		<result column="maxTpi" property="maxTpi" />
		<result column="maxDiscount" property="maxDiscount" />
		<result column="discountCompare" property="discountCompare" />
		<result column="maxTpCompare" property="maxTpCompare" />
		<result column="maxSqCompare" property="maxSqCompare" />
		<result column="maxYearCompare" property="maxYearCompare" />
		<result column="tpCompare" property="tpCompare" />
		<result column="discountPi" property="discountPi" />
		<result column="piCompare" property="piCompare" />
		<result column="aCompare" property="aCompare" />
		<result column="bCompare" property="bCompare" />
		<result column="cCompare" property="cCompare" />
		<result column="aChange" property="aChange" />
		<result column="bChange" property="bChange" />
		<result column="cChange" property="cChange" />
		<collection property="salesList" resultMap="MonthSales" />
		<collection property="piList" resultMap="MonthPi" />
	</resultMap>
	<resultMap type="com.ways.app.domain.MonthSales" id="MonthSales">
		<result column="ym" property="ym" />
		<result column="bqSale" property="bqSale" />
	</resultMap>
	<resultMap type="com.ways.app.domain.MonthPi" id="MonthPi">
		<result column="ym" property="ym" />
		<result column="monthDiscount" property="monthDiscount" />
		<result column="monthTpi" property="monthTpi" />
		<result column="monthMsrpi" property="monthMsrpi" />
	</resultMap>



	<select id="ExportData" parameterType="Map" resultMap="AllDate">


		with nowDate as
		(
		select max(t.ym)as ym,max(t.year) as year
		from FDM_STATE_SALES_SUB_MODEL t
		where t.data_type_id=3
		),
		lastDate as
		(
		select to_char(add_months(to_date(n.ym, 'yyyymm'),-1), 'yyyymm')as ym
		from nowDate n
		),
		firstDate as
		(
		select to_char(to_date(n.ym, 'yyyymm'), 'yyyy') || '01' as ym
		from nowDate n
		),
		monthSales as
		(
		select t.ym,t.year,
		sum(t.BQ_SALES) as bqsale,
		round((sum(t.BQ_SALES)/sum(t.TQ_SALES)-1)*100,1)as tpCompare,
		round((sum(t.BQ_SALES)/sum(t.SQ_SALES)-1)*100,1)as spCompare ,
		round((sum(t.bq_yearacc_sales)/sum(t.tq_yearacc_sales)-1)*100,1)as
		yearCompare
		from FDM_STATE_SALES_SUB_MODEL t
		left join nowDate n on 1=1
		where t.year between n.year-1 and n.year and t.data_type_id=3
		group by t.ym,t.year
		),
		sumSales as
		(
		select sum(t.bqsale) maxSale
		from monthSales t
		left join nowDate n on 1=1
		where t.year=n.year
		),
		maxSales as
		(
		select t.bqsale as maxBqsale,
		t.tpCompare as maxTpCompare,
		t.spCompare as maxSqCompare,
		t.yearCompare as maxYearCompare
		from monthSales t
		left join nowDate n on 1=1
		where t.ym=n.ym
		),
		allSales as
		(
		select m.ym as ym,
		m.bqsale,
		s.maxSale,
		t.*
		from monthSales m
		left join sumSales s on 1=1
		left join maxSales t on 1=1
		),
		monthPi as
		(
		select distinct t.ym,
		round(t.tp_index_pv*100,1) as tpi,
		round(t.msrp_index_pv*100,1) as msrpi
		from FDM_PI_TP_SUBMODEL_STATE t
		left join nowDate n on 1=1
		where t.year between n.year-1 and n.year
		and t.unit_id = '6e33c6bd2e0a4111ab2c8b22e12f116c'
		order by t.ym
		),
		monthDiscount as
		(
		select distinct t.ym,
		round(t.discount_pv,-2) as discount ,
		round(t.msrp_pv,-2) as msrp
		from FDM_SUB_MODEL_STATE_ACC_MIX t
		left join nowDate n on 1=1
		where t.year between n.year-1 and n.year
		and t.unit_id = '6e33c6bd2e0a4111ab2c8b22e12f116c'and t.week_id=7

		),
		nowDiscount as
		(
		select d.discount,
		round((d.discount/d.msrp)*100,1)as discountPi,
		p.tpi
		from monthDiscount d
		left join monthPi p on d.ym=p.ym
		left join nowDate n on 1=1
		where d.ym=n.ym
		),
		lastDiscount as
		(
		select d.discount ,
		round((d.discount/d.msrp)*100,1)as discountPi,
		p.tpi
		from monthDiscount d
		left join monthPi p on d.ym=p.ym
		left join lastDate n on 1=1
		where d.ym=n.ym
		),
		allPi as
		(
		select d.ym as ym,
		d.discount monthDiscount,
		p.tpi monthTpi,
		p.msrpi monthMsrpi,
		n.tpi maxTpi,
		n.discount maxDiscount,
		n.discount-l.discount as discountCompare ,
		n.tpi-l.tpi as tpCompare,
		n.discountPi ,
		n.discountPi-l.discountPi as piCompare
		from monthDiscount d
		left join monthPi p on p.ym=d.ym
		left join nowDiscount n on 1=1
		left join lastDiscount l on 1=1
		order by p.ym
		),
		A as
		(
		select t.tp_index_sg a
		from fdm_pi_tp_subgrade_state t
		left join v_da_sub_grade_en g on g.sub_grade_id=t.sub_grade_id
		left join nowDate n on 1=1
		where t.unit_id = '6e33c6bd2e0a4111ab2c8b22e12f116c'
		and g.sub_grade_name='A'
		and t.week_id = 7 and t.ym = n.ym
		),
		B as
		(
		select t.tp_index_sg b
		from fdm_pi_tp_subgrade_state t
		left join v_da_sub_grade_en g on g.sub_grade_id=t.sub_grade_id
		left join nowDate n on 1=1
		where t.unit_id = '6e33c6bd2e0a4111ab2c8b22e12f116c'
		and g.sub_grade_name='B'
		and t.week_id = 7 and t.ym = n.ym
		),
		C as
		(
		select t.tp_index_sg c
		from fdm_pi_tp_subgrade_state t
		left join v_da_sub_grade_en g on g.sub_grade_id=t.sub_grade_id
		left join nowDate n on 1=1
		where t.unit_id = '6e33c6bd2e0a4111ab2c8b22e12f116c'
		and g.sub_grade_name='C'
		and t.week_id = 7 and t.ym = n.ym
		),
		lastA as
		(
		select t.tp_index_sg a
		from fdm_pi_tp_subgrade_state t
		left join v_da_sub_grade_en g on g.sub_grade_id=t.sub_grade_id
		left join lastDate n on 1=1
		where t.unit_id = '6e33c6bd2e0a4111ab2c8b22e12f116c'
		and g.sub_grade_name='A'
		and t.week_id = 7 and t.ym = n.ym
		),
		lastB as
		(
		select t.tp_index_sg b
		from fdm_pi_tp_subgrade_state t
		left join v_da_sub_grade_en g on g.sub_grade_id=t.sub_grade_id
		left join lastDate n on 1=1
		where t.unit_id = '6e33c6bd2e0a4111ab2c8b22e12f116c'
		and g.sub_grade_name='B'
		and t.week_id = 7 and t.ym = n.ym
		),
		lastC as
		(
		select t.tp_index_sg c
		from fdm_pi_tp_subgrade_state t
		left join v_da_sub_grade_en g on g.sub_grade_id=t.sub_grade_id
		left join lastDate n on 1=1
		where t.unit_id = '6e33c6bd2e0a4111ab2c8b22e12f116c'
		and g.sub_grade_name='C'
		and t.week_id = 7 and t.ym = n.ym
		),
		firstA as
		(
		select t.tp_index_sg a
		from fdm_pi_tp_subgrade_state t
		left join v_da_sub_grade_en g on g.sub_grade_id=t.sub_grade_id
		left join firstDate n on 1=1
		where t.unit_id = '6e33c6bd2e0a4111ab2c8b22e12f116c'
		and g.sub_grade_name='A'
		and t.week_id = 7 and t.ym = n.ym
		),
		firstB as
		(
		select t.tp_index_sg b
		from fdm_pi_tp_subgrade_state t
		left join v_da_sub_grade_en g on g.sub_grade_id=t.sub_grade_id
		left join firstDate n on 1=1
		where t.unit_id = '6e33c6bd2e0a4111ab2c8b22e12f116c'
		and g.sub_grade_name='B'
		and t.week_id = 7 and t.ym = n.ym
		),
		firstC as
		(
		select t.tp_index_sg c
		from fdm_pi_tp_subgrade_state t
		left join v_da_sub_grade_en g on g.sub_grade_id=t.sub_grade_id
		left join firstDate n on 1=1
		where t.unit_id = '6e33c6bd2e0a4111ab2c8b22e12f116c'
		and g.sub_grade_name='C'
		and t.week_id = 7 and t.ym = n.ym
		),
		allGrade as
		(
		select
		round((a.a-la.a)*100,1) aCompare,
		round((b.b-lb.b)*100,1) bCompare,
		round((c.c-lc.c)*100,1) cCompare,
		round((a.a-fa.a)*100,1) aChange,
		round((b.b-fb.b)*100,1) bChange,
		round((c.c-fc.c)*100,1) cChange
		from A a,B b,C c,lastA la,lastB lb,lastC lc,firstA fa,firstB fb,firstC fc
		)
		select a.ym,
		round(a.bqSale/10000,1) bqSale,
		a.maxSale totalSale,
		a.maxBqsale,
		trim(to_char(a.maxTpCompare,'9990.9')||'%') maxTpCompare,
		trim(to_char(a.maxSqCompare,'9990.9')||'%') maxSqCompare,
		trim(to_char(a.maxYearCompare,'9990.9')||'%') maxYearCompare,
		p.monthDiscount,
		trim(p.monthTpi||'%') monthTpi,
		trim(p.monthMsrpi||'%') monthMsrpi,
		trim(p.maxTpi||'%') maxTpi,
		p.maxDiscount,
		case when p.discountCompare>0 then trim('+'||p.discountCompare) 
			else to_char(p.discountCompare) end  discountCompare ,
		trim(to_char(p.tpCompare,'9990.9')||'%') tpCompare,
		trim(to_char(p.discountPi,'9990.9')||'%') discountPi ,
		trim(to_char(p.piCompare,'9990.9')||'%') piCompare,
		trim(to_char(g.aCompare,'9990.9')||'%') aCompare,
		trim(to_char(g.bCompare,'9990.9')||'%') bCompare,
		trim(to_char(g.cCompare,'9990.9')||'%') cCompare,
		trim(to_char(g.aChange,'9990.9')||'%') aChange,
		trim(to_char(g.bChange,'9990.9')||'%') bChange,
		trim(to_char(g.cChange,'9990.9')||'%') cChange
		from allSales a
		left join allPi p on p.ym=a.ym
		left join allGrade g on 1=1






	</select>














</mapper>